:root {
  --purple-1: #5222c2;
  --purple-2: #4103ec;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.277);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
  background-color: #6e6a63;
}

body {
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(165deg, #a6a29a, #6e6a63);
  overflow-x: hidden;
}

fa-icon {
  color: #ffffff;
}
